<template>
    <section id="post" class="grid">

        <div class="img-1">
            <img class="image object-cover" style="height: 350px;" crossorigin="anonymous" :src="data.images[0] || 'http://placehold.jp/909090/757575/250x150.png?text=01'"
                 alt="">
        </div>
        <div class="img-2">
            <img class="image object-cover" style="height: 350px;" crossorigin="anonymous" :src="data.images[1] || 'http://placehold.jp/D6D6D6/757575/250x150.png?text=02'"
                 alt="">
        </div>
        <div class="listing p-2" v-if="data.listing">
            <div class="mb-4">
                <span class="listing-banner rounded px-2 py-1">{{controls.bannerText}}</span>
            </div>

            <span>{{data.listing.address}}, {{data.listing.state}} {{data.listing.zip}}</span>

            <div class="d-flex">
                <img v-if="controls.agentPhoto" :src="data.agent.agentPhoto" alt="">

                <img v-if="controls.brokerLogo"  style="height: 150px" :src="data.agent.brokerLogo" alt="">
            </div>
        </div>

    </section>

</template>

<script>
  export default {
    name: "template_2x1",
    props: ['data','controls']
  }
</script>

<style scoped lang="scss">
    .grid {
        @apply bg-gray-900 border-gray-900;

        display: grid;
        border-width: 10px;
        grid-gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "img-1 img-2" "listing listing"
    }
    .listing-banner{
        background: green;
    }
    .image{
        width: 100%;
        min-height: 100%;
    }
    .img-1 {
        grid-area: img-1;
    }

    .img-2 {
        grid-area: img-2;
    }

    .img-3 {
        grid-area: img-3;
    }

    .img-4 {
        grid-area: img-4;
    }

    .img-5 {
        grid-area: img-5;
    }

    .listing {
        grid-area: listing;
        color: white;
        background: black;
    }
</style>




