<template>
  <section id="post" class="parent">
    <div class="img-1">
      <img
        class="image"
        crossorigin="anonymous"
        :src="data.images[0] || 'http://placehold.jp/cccccc/757575/250x150.png?text=01'"
        alt
      />
    </div>

    <div class="img-2">
      <img
        class="image"
        crossorigin="anonymous"
        :src="data.images[1] || 'http://placehold.jp/717171/cccccc/250x167.png?text=02'"
        alt
      />
    </div>

    <div class="img-3">
      <img
        class="image"
        crossorigin="anonymous"
        :src="data.images[2] || 'http://placehold.jp/9F9F9F/757575/250x167.png?text=03'"
        alt
      />
    </div>
   <div class="listing p-2" v-if="data.listing">
            <div class="mb-4">
                <span class="listing-banner rounded px-2 py-1">{{controls.bannerText}}</span>
            </div>

            <span>{{data.listing.address}}, {{data.listing.state}} {{data.listing.zip}}</span>

            <div class="d-flex">
                <img v-if="controls.agentPhoto" :src="data.agent.agentPhoto" alt="">

                <img v-if="controls.brokerLogo"  style="height: 150px" :src="data.agent.brokerLogo" alt="">
            </div>
        </div>
  </section>
</template>

<script>
export default {
  name: "template_1x2",
  props: ["data", "controls"]
};
</script>

<style scoped lang="scss">
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.listing-banner{
  background: green;
}
.image{
  width: 100%;
  min-height: 100%;
}
.img-1 {
  grid-area: 1 / 1 / 2 / 3;
}
.img-2 {
  grid-area: 2 / 1 / 3 / 2;
}
.img-3 {
  grid-area: 2 / 2 / 3 / 3;
}
.listing {
  grid-area: 3 / 1 / 4 / 3;
}
.gradient {
  grid-area: 2 / 1 / 4 / 3;
}

.img-1 {
}
.img-2 {
}
.img-3 {
}
.listing {
  color: white;
  background:black;
  
}


// .grid {
//     @apply bg-gray-900 border-gray-900;

//     display: grid;
//     border-width: 10px;
//     grid-gap: 5px;
//     grid-template-columns: 1fr 1fr;
//     grid-template-areas: "img-1 img-1" "img-2 img-3" "listing listing"
// }

// .img-1 {
//     grid-area: img-1;
// }

// .img-2 {
//     grid-area: img-2;
// }

// .img-3 {
//     grid-area: img-3;
// }

// .img-4 {
//     grid-area: img-4;
// }

// .listing {
//     grid-area: listing;
//     color: white;
// }
</style>




