<template>
    <div class="d-flex ">

        <ul class="d-flex flex-column">

            <li>
                <input type="radio" v-model="config" id="cb-single" :value="{layout:'template_single',count:1}"/>
                <label for="cb-single"><img :src="assets.svg['single']" value=""/></label>
            </li>

            <li>
                <input type="radio" v-model="config" id="cb1x2" :value="{layout:'template_1x2',count:3}"/>
                <label for="cb1x2"><img :src="assets.svg['1x2']" value=""/></label>
            </li>

            <li>
                <input type="radio" v-model="config" id="cb2x1" :value="{layout:'template_2x1',count:2}"/>
                <label for="cb2x1"><img :src="assets.svg['2x1']" value=""/></label>
            </li>

            <li>
                <input type="radio" v-model="config" id="cb2x3" :value="{layout:'template_2x3',count:5}"/>
                <label for="cb2x3"><img :src="assets.svg['2x3']" value=""/></label>
            </li>


        </ul>

        <div class="d-flex flex-column">

            <template-preview class="flex-1" :selection="{config, images, listing, agent}" :controls="controls"/>

            <div v-if="config.layout" class="select-image card overflow-scroll w-64 ">
                <ul class="flex-wrap">
                    <li v-for="(image, i) in listing.images" v-bind:key="i" class="card--content">
                        <input type="checkbox" name="template" :id="`cbtemplate-${i}`" v-model="images" :value="image"
                               :disabled="images.length >= config.count && images.indexOf(image) == -1"/>
                        <label :for="`cbtemplate-${i}`"><img :src="image"/></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column border p-2">
            <div class="d-flex mb-4">
                <!-- <div class="flex-col w-1/2">
                    <h1>Invert Colors</h1>
                    <label class="switch">
                        <input v-model="options.invertcolors" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div> -->
                <div class="d-flex flex-column">
                    <h1>Agent Photo</h1>
                    <label class="switch">
                        <input v-model="controls.agentPhoto" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="d-flex">
                <div class="">
                    <h1>Broker Logo</h1>
                    <label class="switch">
                        <input v-model="controls.brokerLogo" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
<!--                <div class="radio ml-1">-->
<!--                    <h1>Position of Banner</h1>-->
<!--                    <input v-model="controls.bannerPosition" type="radio" name="bannerposition" value="top"> Top<br>-->
<!--                    <input v-model="controls.bannerPosition" type="radio" name="bannerposition" value="bottom"> Bottom-->
<!--                </div>-->
            </div>
            <div class="d-flex">
                <div class="">
                    <h1>Banner Text</h1>
                    <input v-model="controls.bannerText"
                           class="shadow appearance-none border rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                           placeholder="Just Listed" name="banner" type="text">
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <div class="">
                    <button v-on:click="generateImage" class="text-white font-bold py-2 px-4 rounded">Generate</button>
                </div>

<!--                <div style="overflow-wrap: break-word; word-wrap: break-word;">{{base64ImageStr}}</div>-->
            </div>
        </div>

    </div>
</template>

<script>
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import TemplatePreview from './TemplatePreview.vue'
  import html2canvas from 'html2canvas'


  export default {
    name: "InstatagramPostBuilder.vue",
    components: {
      TemplatePreview
    },
    data: function () {
      return {
        base64ImageStr: "",
        controls: {
          bannerPosition: 'bottom',
          bannerText: 'Just Listed',
          agentPhoto: false,
          brokerLogo: false,
          invertColors: false
        },
        imageWidth: 280,
        imageHeight: 280,
        loadingWizard: false,
        errorMsg: null,
        config: '',
        images: [],
        assets: {
          svg: {
            'single': require('@/assets/svg/single.svg'),
            '1x2': require('@/assets/svg/1x2.svg'),
            '2x1': require('@/assets/svg/2x1.svg'),
            '2x3': require('@/assets/svg/2x3.svg'),
          }
        }
      }
    },
    props: {
      listing: {
        default: () => ({}),
        type: Object
      },
      agent: {
        default: () => ({}),
        type: Object
      }
    },
    methods: {
      generateImage: function () {
        let vm = this

        // eslint-disable-next-line
        console.log('generateImage')

        html2canvas(document.querySelector('.preview'), {
          letterRendering: 1,
          allowTaint: true,
          onrendered: function (canvas) {
            // eslint-disable-next-line no-console
            console.log('onrender', canvas)
          }
        }).then(canvas => {

          // document.body.appendChild(canvas)
          vm.base64ImageStr = canvas.toDataURL('image/octet-stream')//.toDataURL('image/png');.replace("image/png", "image/octet-stream")


          //doesn't work
          // window.open(vm.base64ImageStr, '_blank');

          //open in new window hack
          var iframe = "<iframe width='100%' height='100%' src='" + vm.base64ImageStr + "'></iframe>"
          var x = window.open();
          x.document.open();
          x.document.write(iframe);
          x.document.close();

        })
      }
    }

  }
</script>

<style scoped lang="scss">

    body {
        background-color: white;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        min-width: 100%;
        min-height: 200px;
        overflow-x: auto;
    }

    .card::-webkit-scrollbar {
        display: none;
    }

    .card--content {
        background-color: white;
        min-width: 150px;
        margin: 0px;
        box-shadow: 3px 5px rgba(255, 255, 255, 0.05);
    }

    .card--content img {
        /*width: 100%;*/
        height: 100%;
    }

    /* styling for image selector */

    .select-image ul {
        display: flex;
    }

    ul {
        list-style-type: none;
    }

    li {
        display: block;
        width: 150px;
        height: 150px
    }

    input[type="radio"][id^="cb"],
    input[type="checkbox"][id^="cb"] {
        display: none;
    }

    label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 10px;
        cursor: pointer;
    }

    label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

    :checked + label {
        border-color: #ddd;
    }

    :checked + label:before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
    }

    :checked + label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
