<template>
    <div id="templatePreview" class="d-flex flex-column" style="width: 550px;">

        <div class="preview" v-bind:is="selection.config.layout" :controls="controls" :data="selection"></div>

    </div>
</template>

<script>

  export default {
    name: "template-preview",
    data: function () {return {}},
    components: {
      'template_single': () => import('../templates/template_single'),
      'template_1x2': () => import('../templates/template_1x2'),
      'template_2x1': () => import('../templates/template_2x1'),
      'template_2x3': () => import('../templates/template_2x3')
    },


    props: ['selection','controls']
  }
</script>

<style scoped>
    #templatePreview {
        background: #e1e1e1;
    }
</style>