<template>
    <div id="app">
        <InstatagramPostBuilder :listing="listing" :agent="agent"/>
    </div>
</template>

<script>
  import InstatagramPostBuilder from './components/InstatagramPostBuilder'

  export default {
    name: 'app',
    components: {
      InstatagramPostBuilder
    },
    data: function () {
      return {
        listing: {
          address: "123 Main St",
          state: "UT",
          zip: "84604",
          images: [
            //images need to be set for CORS or be local
            "/images/01.jpg",
            "/images/02.jpg",
            "/images/03.jpg",
            "/images/04.jpg",
            "/images/05.jpg",
            "/images/06.jpg",
            "/images/07.jpg",
          ]
        },
        agent: {
          firstName: "diego",
          lastName: "ibarra",
          agentPhoto: "/images/realtor.jpeg",
          brokerLogo: "/images/keyes.png"
        }

      }
    }
  }
</script>

<style lang="scss">
    @import "./assets/scss/main";

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }
</style>
